<!-- Firebase script.njk -->
<script
	defer
	src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"
></script>
<script
	defer
	src="https://www.gstatic.com/firebasejs/7.19.1/firebase-database.js"
></script>
<script
	defer
	src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"
></script>
<script defer src="../firebase.js"></script>
<!-- <script defer src="./login.js"></script> -->
