{% extends "layout/main.njk" %}

{% block content %}
{% include "partials/navigation/navigation.njk" %}
  <h1>{{ title }}</h1>
  <h2>about</h2>

{% for image in parallax %}
  <div class="gallery__item">
    <img src="{{image}}">
  </div>
  {% endfor %}

  {{ content | safe }}


{% endblock %}
