{% extends "layout/main.njk" %}

{% block content %}
{% include "partials/navigation/navigation.njk" %}
  <h1>{{ title }}</h1>

<strong class="notification" data-notification-handle></strong>
		<form id="userInputTrainingForm" action="">
			<fieldset>
				<legend>Gebruikers input</legend>

        {% include "partials/form/form-row/form-row.njk" %}
        {% include "partials/form/form-footer/form-footer.njk" %}
			</fieldset>
		</form>
		<form id="chatbotReactionTrainingForm" action="">
			<fieldset>
				<legend>Chatbot reactie</legend>

        {% include "partials/form/form-row/form-row.njk" %}
        {% include "partials/form/form-footer/form-footer.njk" %}
	
			</fieldset>
		</form>

		<button type="button" data-execute-training>Training uitvoeren</button>

    {% include "partials/firebase/firebase.njk" %} 

{% endblock %}
