<!-- navigation.njk -->
<nav class="navigation">
  <a href="../index" class="navigation_link navigation_logo">Logo</a>
  <div class="navigation_mobile" data-navigation-mobile>
  <a href="../index" class="navigation_link">Home</a>
  </div>
</nav>
