<!-- navigation.njk -->
<nav class="navigation">
  <a href="" class="navigation_link navigation_logo">Logo</a>
  <div class="navigation_mobile" data-navigation-mobile>
  <a href="/" class="navigation_link">Home</a>
  <a href="/about" class="navigation_link">About</a>
  <a href="/login" class="navigation_link">login</a>
  </div>
</nav>
