body {
	margin: 0;
}
a {
	text-align: center;
}
svg {
	width: 2em;
}
nav {
	width: 5rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
nav > * {
	margin: auto 0;
}
aside {
	border-right: 1px solid black;
	width: 5rem;
	height: 100vh;
	padding: 1rem;
}
